In [3]:
myString = 'Hellohowareyoupratiksha'|

In [4]:
myString[:]

'Hellohowareyoupratiksha'

In [5]:
myString[:9]

'Hellohowa'

In [6]:
myString[12:]

'oupratiksha'

In [10]:
myString[2:10:2]

'looa'

In [11]:
#----------------------String Method--------------------------

In [12]:
my_string = 'My name is samir mastekar'

In [13]:
len(my_string)

25

In [15]:
my_string.upper()

'MY NAME IS SAMIR MASTEKAR'

In [16]:
my_string.lower()

'my name is samir mastekar'

In [17]:
my_string.split()

['My', 'name', 'is', 'samir', 'mastekar']

In [18]:
my_StringFormated =my_string.split()

In [19]:
my_StringFormated

['My', 'name', 'is', 'samir', 'mastekar']

In [21]:
my_string.count('a')

4

In [22]:
my_string.find('samir')

11

In [23]:
my_string.replace('samir', 'Rajendra')

'My name is Rajendra mastekar'

In [24]:
#------------------------List Basic-----------------------------

In [27]:
List1 = [1, 2, 4, 5, 7, 5, 9,10, 'samir', 'raj']

In [28]:
List1[3]

5

In [29]:
List1[3:]

[5, 7, 5, 9, 10, 'samir', 'raj']

In [30]:
List1[3:5]

[5, 7]

In [31]:
List1[-1]

'raj'

In [32]:
List1+[88, 97]

[1, 2, 4, 5, 7, 5, 9, 10, 'samir', 'raj', 88, 97]

In [0]:
#---------------------------List Method ------------------

In [33]:
List2 = ['samir', 'raj', 'onkar']

In [35]:
List2.insert(1,'Prat')

In [36]:
List2

['samir', 'Prat', 'raj', 'onkar']

In [37]:
List2.append('Samir')

In [38]:
List2

['samir', 'Prat', 'raj', 'onkar', 'Samir']

In [1]:
#-------------------------Sum,Min,maxofList-------------------

In [2]:
myList=[10,20,40,30,60]

In [3]:
myList.sort()

In [4]:
myList

[10, 20, 30, 40, 60]

In [5]:
myList.reverse()

In [6]:
myList

[60, 40, 30, 20, 10]

In [7]:
lowest=min(myList)

In [8]:
lowest

10

In [9]:
highest =max(myList)

In [10]:
highest

60

In [11]:
sum(myList)

160

In [13]:
myList.pop()

10

In [14]:
myList.extend([100,200,30])

In [15]:
myList

[60, 40, 30, 20, 100, 200, 30]

In [17]:
#-------------------- List Index ---------------------

In [18]:
myList.index(100)

4

In [19]:
#-------------------- List Length --------------------

In [20]:
len(myList)

7

In [21]:
#---------------------- List Count ------------------

In [22]:
myList.count(20)

1

In [23]:
#-------------------- List Slicing ---------

In [29]:
my_list=range(50)

In [30]:
my_list

range(0, 50)

In [31]:
my_list[:]

range(0, 50)

In [33]:
print(my_list[-3:])

range(47, 50)

In [34]:
#--------------------- Nested List -----------

In [35]:
nestedList = [[1, 2, 3], [4, 5, 6]]

In [36]:
nestedList[1]

[4, 5, 6]

In [37]:
nestedList[1][0]

4

In [38]:
#------------- Check List is Empty or Not

In [40]:
checkList=[]
if not checkList:
    print("The List is empty")
else:
    print("The List is not Empty")

The List is empty

In [41]:
#---------------- Zip Function ----------

In [42]:
#--------- List Comprehention

In [45]:
square_number =[x**2 for x in range(1, 11)]

In [46]:
square_number

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [48]:
even_square = [x**2 for x in range(1, 11) if (x**2)%2 ==0]

In [49]:
even_square

[4, 16, 36, 64, 100]

In [50]:
wordList = ['the', 'name', 'is', 'samir']

In [51]:
editedList=[word.title() for word in wordList]
editedList

['The', 'Name', 'Is', 'Samir']

In [52]:
#------------------- Dictionary ------------------

In [3]:
d ={'key':'value', 'key2':'value'}

In [4]:
d.items()

dict_items([('key', 'value'), ('key2', 'value')])

In [7]:
d.values()

dict_values(['value', 'value'])

In [6]:
d.get('key', 0)

'value'

In [8]:
#----------------  Nested Dictionary ----------

In [9]:
date ='11-4-2020'

In [11]:
maindict = {date:{'Homework':'python', 'CompanyWork':'PR'}}

In [12]:
maindict

{'11-4-2020': {'Homework': 'python', 'CompanyWork': 'PR'}}

In [13]:
#------------- Set ------------------

In [18]:
mySet = set([1, 2, 3, 4, 4, 3])

In [19]:
type(mySet)

set

In [20]:
mySet

{1, 2, 3, 4}

In [22]:
s1 = set([3, 4, 5, 6])

In [23]:
mySet.union(s1)

{1, 2, 3, 4, 5, 6}

In [25]:
mySet-s1

{1, 2}

In [26]:
3 in s1

True

In [27]:
#------------ Tuple  --------------------------

In [29]:
myTuple =(0, 1, 20, 3, 4, 5,)
myTuple

(0, 1, 20, 3, 4, 5)

In [30]:
myTuple[4]

4

In [31]:
myTuple[1:3]

(1, 20)

In [32]:
#Tuples are immutable mean they can not change at the run time

In [35]:
#Lambda Expression in Python

In [0]:
lambda x:x**2